.marquee-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    background-color: blue;
}

.content-container {
    margin-left: calc(400px + 1vw);
    margin-right: calc(400px + 1vw);
}

.marquee-up {
    width: 400px;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: red;
}

.marquee-down {
    width: 400px;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: green;
}

.track {
    display: flex;
    flex-direction: column;
}

.track img {
    display: block;
    margin-bottom: 450px;
}

.marquee-down .track {
    animation: scrolldown 10s linear infinite;
}

.marquee-up .track {
    animation: scrollup 10s linear infinite;
}

@keyframes scrolldown {
    from {transform: translateY(-50%);}
    to {transform: translateY(0);}
}

@keyframes scrollup {
    from {transform: translateY(0);}
    to {transform: translateY(-50%);}
}